# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/

# Native
.cxx/
externalNativeBuild/

# Local Config / Secrets
local.properties
*.keystore
*.jks

# Firebase
google-services.json
app/google-services.json

# Android Output
captures/
